In [2]:
import pandas as pd
df = pd.read_csv("international-airline-passengers.csv", engine = "python", skipfooter = 3) 
## skipfooter =3 ; to skip three footer rows
## skipfooter does not work with default engine which is "C", so need to specifically pass in engine = python

# Checking column names

In [3]:
df.columns

Index(['Month', 'International airline passengers: monthly totals in thousands. Jan 49 ? Dec 60'], dtype='object')

# reassigning column names

In [5]:
df.columns = [ "months","passengers"]
df.columns

Index(['months', 'passengers'], dtype='object')

# selecting specific column

In [7]:
df["passengers"]

0      112
1      118
2      132
3      129
4      121
5      135
6      148
7      148
8      136
9      119
10     104
11     118
12     115
13     126
14     141
15     135
16     125
17     149
18     170
19     170
20     158
21     133
22     114
23     140
24     145
25     150
26     178
27     163
28     172
29     178
      ...
114    491
115    505
116    404
117    359
118    310
119    337
120    360
121    342
122    406
123    396
124    420
125    472
126    548
127    559
128    463
129    407
130    362
131    405
132    417
133    391
134    419
135    461
136    472
137    535
138    622
139    606
140    508
141    461
142    390
143    432
Name: passengers, Length: 144, dtype: int64

# if column name is string we can use like this

In [8]:
df.passengers

0      112
1      118
2      132
3      129
4      121
5      135
6      148
7      148
8      136
9      119
10     104
11     118
12     115
13     126
14     141
15     135
16     125
17     149
18     170
19     170
20     158
21     133
22     114
23     140
24     145
25     150
26     178
27     163
28     172
29     178
      ...
114    491
115    505
116    404
117    359
118    310
119    337
120    360
121    342
122    406
123    396
124    420
125    472
126    548
127    559
128    463
129    407
130    362
131    405
132    417
133    391
134    419
135    461
136    472
137    535
138    622
139    606
140    508
141    461
142    390
143    432
Name: passengers, Length: 144, dtype: int64

# adding column to dataframe

In [10]:
df["ones"] =1 ## all rows have same value 1 for new column ones

In [12]:
df.head()

    months  passengers  ones
0  1949-01         112     1
1  1949-02         118     1
2  1949-03         132     1
3  1949-04         129     1
4  1949-05         121     1

# datetime

In [13]:
from datetime import datetime

In [16]:
datetime.strptime("1949-05","%Y-%m")

datetime.datetime(1949, 5, 1, 0, 0)

# adding column with different values of in each row ; using  apply()

In [20]:
df['dt'] = df.apply(lambda row: datetime.strptime(row['months'],"%Y-%m"),axis=1)

In [21]:
df.info()

<class 'pandas.core.frame.DataFrame'>
RangeIndex: 144 entries, 0 to 143
Data columns (total 4 columns):
months        144 non-null object
passengers    144 non-null int64
ones          144 non-null int64
dt            144 non-null datetime64[ns]
dtypes: datetime64[ns](1), int64(2), object(1)
memory usage: 4.6+ KB